.save-button {
    width: 70%;
    margin: auto auto 10px auto;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

.uploaded-img {
    width: 200px;
    height: 200px;
    margin: 20px auto auto auto;
}