
/* 
.element-column { 
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.27);
}

.element-column:nth-of-type(2) {
    background-color: rgba(0,0,0,0.05);
}

.element-column-dropdown {
    height: 100%;
    width: 100%;
    color: rgba(0,0,0,.5);
}

  */

  .element-row {
      border-bottom: 1px solid rgba(0,0,0,0.27);
      margin: 0 5px; 
  }

 img{ 
    max-height: 100px;
}
  .element-column {  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.element-column div {  
    margin-top: auto;
}

.element-column:nth-of-type(2) { 
    flex-direction: column;
    color: rgba(0,0,0,0.5)
}

.element-column-dropdown {
    height: 30px;
    width: 100%;
    color: rgba(0,0,0,.5);
    margin: auto; 
}

.row-image {
    width: 100px;
    height: 100px;
}